<div class="page-header">
  <%= link_to new_student_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Student
  <% end %>
  <h1>Students <span id="num-students"> (<%= Student.all.size %>)</span></h1>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Level</th>
        <th>Group</th>
        <th>Notes</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @students) do |student| %>
        <td><%= link_to student.name, student %></td>
        <td>
          <a href="tel:<%= student.phone %>"><%= student.phone %></a>
        </td>
        <td><%= student.level %></td>
        <td><%= student.group&.name %></td>
        <td><%= student.notes %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
      <% end %>
    </tbody>
  </table>
</div>
