<%= bootstrap_form_for(@test_book, layout: :horizontal, html: { id: 'test-book-form' }) do |f| %>
  <% if @test_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_book.errors.count, "error") %> prohibited this test_book from being saved:</h2>

      <ul>
      <% @test_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :level %>
  <%= f.text_field :name %>
  <%= f.text_field :year %>
  <%= f.number_field :number %>
  <%#TODO default to 4%>
  <%= number_field_tag :number_of_tests %>
  <%= f.primary 'Add Test Book' %>
<% end %>
