
<%= bootstrap_form_for TestDelivery.new, url: test_deliveries_path, layout: :horizontal do |f| %>

<%#TODO later divide into 2 selects, book and test num?%>

<div class="form-group">

  <%= f.collection_select :test_id, Test.not_given_to(@group), :id, :name, prompt: false %>

  <%= f.date_select :test_date, discard_year: true, use_short_month: true, label: 'Date' %>
  <%#<input class="datepicker" type="text" data-provide='datepicker' >%>

  <%= f.check_box :only_listening, checked: false %>

  <%= f.hidden_field :group_id, value: @group.id %>

</div>
    
<div class="form-group">
  <%= f.text_area :note, label: 'Notes' %>

</div>

  <%= f.primary 'Add Test' %>

<% end %>
