<p id="notice"><%= notice %></p>

<h2><%= @group.name %></h2>

<%= form_for GroupsTest.new, url: groups_tests_path do |f| %>
<%#TODO later divide into 2 selects, book and test num?%>
  <%= f.collection_select(:test_id, Test.not_given_to(@group), :id, :name, prompt: false) %>
  <%= f.hidden_field :group_id, value: @group.id %>
  <%= f.submit %>
<% end %>
  
<%# TODO make partial %>

<% TestBook.includes(:tests).where(level: @group.level).each do |book| %>
  <h4><%= book.name %></h4>
  <ul>
  <% book.tests.each do |test| %>
    <li>
      <%= link_to test_title(test), test_path(test), class: 'test-link' %>
      <% if test.given_to?(@group) %>
        <span class="glyphicon glyphicon-ok"></span>
        <span class="test-date">(<%= test.given_on(@group).strftime('%b %e') %>)</span>
        <%#TODO use test delivery object instead?%>
        <% if test.note_for(@group) %>
          <span>  -  <%= test&.note_for(@group) %></span>
        <% end %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
