<h2 class="show-page-title"><%= @group.name %></h2>

<%= render 'new_test_form' %>

<div id="add-test-button">
  <a href="#">
    <span class="glyphicon glyphicon-plus" style="color: #5cb85c;"></span><span> Add test...</span>
  </a>
</div>

<ul class="class-date-list list-group">
<% @group.test_deliveries.order('test_date DESC').each do |td| %>
  <li class="class-date list-group-item">
  <div class="col-xs-4">
    <%= link_to td.test_date.strftime('%b %e'), '#' %>
  </div>
    <%= td.test.name %>
  </li>
<% end %>
  
</ul>

<%= render 'tests' %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
