<p id="notice"><%= notice %></p>

<h2 class="show-page-title"><%= @group.name %></h2>

<%#TODO hide from%>
<%= bootstrap_form_for GroupsTest.new, url: groups_tests_path, layout: :inline do |f| %>
<%#TODO later divide into 2 selects, book and test num?%>
  <%= f.collection_select :test_id, Test.not_given_to(@group), :id, :name, prompt: false, hide_label: true %>
  <%= f.date_select :test_date, discard_year: true, use_short_month: true, hide_label: true %>
  <%#<input class="datepicker" type="text" data-provide='datepicker' >%>
  <%= f.hidden_field :group_id, value: @group.id %>
  <%= f.primary 'Add Test' %>
<% end %>
  
<%# TODO make partial %>

<%#nested ul's%>
  
<div id="group-test-list">
  
<%# TODO make level into scope to deal with group not having a level%>
<%#TODO also add testbooks from other levels which may have also been delivered%>
<% TestBook.includes(:tests).where(level: @group.level).each do |book| %>
  <h4><%= book.name %></h4>
  <ul>
  <% book.tests.each do |test| %>
    <li>
      <%= link_to test_title(test), test_path(test), class: 'test-link' %>
      <% if test.given_to?(@group) %>
        <span class="glyphicon glyphicon-ok"></span>
        <span class="test-date">(<%= test.given_on(@group).strftime('%b %e') %>)</span>
        <%#TODO use test delivery object instead?%>
        <% if test.note_for(@group) %>
          <span>  -  <%= test&.note_for(@group) %></span>
        <% end %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

</div>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
