<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @test.number %>
</p>

<p>
  <strong>Book:</strong>
  <%= @test.book_id %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
